.errorLabel{
    color: red;
}

.gwt-DialogBox {
    background-color: gray;
    border-radius: 5px;
}
.gwt-PopupPanelGlass {
    background: #000;
    background: rgba(0,0,0,.2);
}
.gwt-DialogBox .Caption {
    padding: 4px 4px 4px 8px;
    cursor: default;
}

.gwt-DialogBox .dialogContent {
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 3px;
    background: white;
}

.gwt-DialogBox .dialogBottomCenter {
}

.gwt-DialogBox .dialogMiddleLeft {
}

.gwt-DialogBox .dialogMiddleRight {
}

.gwt-DialogBox .dialogTopLeftInner {
    width: 5px;
    zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
    width: 8px;
    zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
    width: 5px;
    height: 8px;
    zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
    width: 5px;
    height: 8px;
    zoom: 1;
}

.gwt-DialogBox .dialogTopLeft {
}

.gwt-DialogBox .dialogTopRight {
}

.gwt-DialogBox .dialogBottomLeft {
}

.gwt-DialogBox .dialogBottomRight {
}

html>body .gwt-DialogBox {
}

* html .gwt-DialogBox .dialogTopLeftInner {
    width: 5px;
    overflow: hidden;
}

* html .gwt-DialogBox .dialogTopRightInner {
    width: 8px;
    overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomLeftInner {
    width: 5px;
    height: 8px;
    overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomRightInner {
    width: 8px;
    height: 8px;
    overflow: hidden;
}


/* Button OK */

.gwt-DialogBox button {
    width: 120px;
    height: 32px;
    padding: 0 0 2px;
    font: 16px "Trebuchet MS", Tahoma, Arial, sans-serif;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #555;
    text-shadow: 1px 1px #D6D6D6;
    border: 1px solid #959595;
    border-top: 1px solid #B4B4B4;
    border-bottom: 1px solid #7B7B7B;
    box-shadow:
    inset 0 1px #E3E3E3,
    inset 1px 0 #CECECE,
    inset -1px 0 #CECECE,
    inset 0 -1px #BDBDBD,
    0 2px #878787,
    0 3px #7B7B7B,
    0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #d1d1d1 0%, #afafaf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#afafaf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d1d1d1 0%,#afafaf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d1d1d1 0%,#afafaf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d1d1d1 0%,#afafaf 100%); /* IE10+ */
    background: linear-gradient(top,  #d1d1d1 0%,#afafaf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#afafaf',GradientType=0 ); /* IE6-9 */
    background-color: #C0C0C0;
}
.gwt-DialogBox button::-moz-focus-inner{border:0}
.gwt-DialogBox button:hover {
    border-top: 1px solid #A2A2A2;
    box-shadow:
    inset 0 1px #D4D4D4,
    inset 1px 0 #CECECE,
    inset -1px 0 #CECECE,
    inset 0 -1px #CECECE,
    0 2px #878787,
    0 3px #7B7B7B,
    0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #b7b7b7 0%, #c2c2c2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7b7b7), color-stop(100%,#c2c2c2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b7b7b7 0%,#c2c2c2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b7b7b7 0%,#c2c2c2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b7b7b7 0%,#c2c2c2 100%); /* IE10+ */
    background: linear-gradient(top,  #b7b7b7 0%,#c2c2c2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#c2c2c2',GradientType=0 ); /* IE6-9 */
    background-color: #C0C0C0;
}
.gwt-DialogBox button:active {
    top: 3px;
    border: 1px solid #919191;
    border-top: 1px solid #757575;
    border-bottom: 1px solid #9F9F9F;
    background: #B3B3B3;
    box-shadow: inset 0 1px 2px #7F7F7F;
}

/* Button YES */

.gwt-DialogBox button.btnYes {
    width: 120px;
    height: 32px;
    padding: 0 0 2px;
    margin: 0 5px;
    font: 16px "Trebuchet MS", Tahoma, Arial, sans-serif;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #5D7731;
    text-shadow: 1px 1px #D0E5A4;
    border: 1px solid #89A94D;
    border-top: 1px solid #AAD063;
    border-bottom: 1px solid #6D883B;
    box-shadow:
    inset 0 1px #E0EEB6,
    inset 1px 0 #C6E08D,
    inset -1px 0 #C6E08D,
    inset 0 -1px #B4D579,
    0 2px #799545,
    0 3px #6D883B,
    0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #cae285 0%, #a3cd5a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cae285), color-stop(100%,#a3cd5a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* IE10+ */
    background: linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cae285', endColorstr='#a3cd5a',GradientType=0 ); /* IE6-9 */
    background-color: #B6D76F;
}
.gwt-DialogBox button.btnYes::-moz-focus-inner{border:0}
.gwt-DialogBox button.btnYes:hover {
    border-top: 1px solid #98B85B;
    box-shadow:
    inset 0 1px #CCE3A1,
    inset 1px 0 #C6E08D,
    inset -1px 0 #C6E08D,
    inset 0 -1px #C7E18E,
    0 2px #799545,
    0 3px #6D883B,
    0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #abd164 0%, #b9d972 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abd164), color-stop(100%,#b9d972)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #abd164 0%,#b9d972 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #abd164 0%,#b9d972 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #abd164 0%,#b9d972 100%); /* IE10+ */
    background: linear-gradient(top,  #abd164 0%,#b9d972 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abd164', endColorstr='#b9d972',GradientType=0 ); /* IE6-9 */
    background-color: #B6D76F;
}
.gwt-DialogBox button.btnYes:active {
    top: 3px;
    border: 1px solid #88A84E;
    border-top: 1px solid #6E883F;
    border-bottom: 1px solid #95B855;
    background: #A7CF5F;
    box-shadow: inset 0 1px 2px #779441;
}

/* Button NO */

.gwt-DialogBox button.btnNo {
    width: 120px;
    height: 32px;
    padding: 0 0 2px;
    margin: 0 5px;
    font: 16px "Trebuchet MS", Tahoma, Arial, sans-serif;
    outline: none;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    color: #913944;
    border: 1px solid #D16573;
    border-top: 1px solid #EE8090;
    border-bottom: 1px solid #B84D5A;
    text-shadow: 1px 1px #F9A0AD;
    box-shadow:
    inset 0 1px #FBC1D0,
    inset 1px 0 #F99AAB,
    inset -1px 0 #F99AAB,
    inset 0 -1px #F68391,
    0 2px #CB5462,
    0 3px #B84D5A,
    0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #f997b0 0%, #f56778 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f997b0), color-stop(100%,#f56778)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f997b0 0%,#f56778 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f997b0 0%,#f56778 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f997b0 0%,#f56778 100%); /* IE10+ */
    background: linear-gradient(top,  #f997b0 0%,#f56778 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f997b0', endColorstr='#f56778',GradientType=0 ); /* IE6-9 */
    background-color: #F77E94;
}
.gwt-DialogBox button.btnNo::-moz-focus-inner{border:0}
.gwt-DialogBox button.btnNo:hover {
    border-top: 1px solid #E26272;
    box-shadow:
    inset 0 1px #F9AAB5,
    inset 1px 0 #F99AAB,
    inset -1px 0 #F99AAB,
    inset 0 -1px #F99BAC,
    0 2px #CB5462,
    0 3px #B84D5A,
    0 4px 2px rgba(0,0,0,0.4)
;
    background: -moz-linear-gradient(top,  #f57184 0%, #f78297 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f57184), color-stop(100%,#f78297)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f57184 0%,#f78297 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f57184 0%,#f78297 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f57184 0%,#f78297 100%); /* IE10+ */
    background: linear-gradient(top,  #f57184 0%,#f78297 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f57184', endColorstr='#f78297',GradientType=0 ); /* IE6-9 */
    background-color: #F77E94;
}
.gwt-DialogBox button.btnNo:active {
    top: 3px;
    border: 1px solid #C75866;
    border-top: 1px solid #A14753;
    border-bottom: 1px solid #DA6070;
    background: #F56C7E;
    box-shadow: inset 0 1px 2px #C13345;
}